.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.calculator {
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    width: 250px;
    height: 400px;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
}

.title {
    display:flex;
    justify-content: center;
    border: 2px solid black;
}

.display {
    display: flex;
    border: 2px solid black;
    margin: 2%;
    padding: 0 5%;
    background-color: white;
}

.keyboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#delete {
    background-color: aquamarine;
}

.extraKeys {
    display: flex;
    justify-content: center;
}

.extraKeys > input {
    height: 22px;
    width: 46%;
    margin: 5px;
    font-size: 15px;
}

.keyboard > input {
    height: 52px;
    width: 52px;
    margin: 5px;
    font-size: 24px;
}